workdir = work
index = index/cs.idx
fileindex = index/cs.fileidx
webdir = www

[server github]
# Cloning via https is faster than ssh: 10.6 MiB/s vs 17 MiB/s
weburl = https://github.com
url = https://github.com
api = https://api.github.com
include = openjdk/jdk #master master/jdk#master
include-user = hakonhall
exclude = /neuron$

[manifest update-manifest_test.d/tmp/extra.manifest]
# The second argument is relative PWD of test.
command = update-manifest_test.d/gen-manifest tests/update-manifest_test.d/tmp/extra.manifest
