[Unit]
Description=Codesearch index updater

[Service]
ExecStart=/home/hakon/var/codesearch/codesearch/updater/bin/updater -c /home/hakon/var/codesearch/config
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
